<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-7 p-3">
            <div
                class="card border-0 bg-darken"
                style="border-radius: 20px; overflow: hidden;"
            >
                <img
                    src="{{ (product$ | async)?.picture }}"
                    style="object-fit: contain;"
                    height="350px"
                    width="100%"
                >
            </div>
            <div class="card-body mt-3 mb-2">
                <div class="d-flex">
                    <div>
                        <h1 class="m-0"><strong>{{ (product$ | async)?.name }}</strong></h1>
                        <p class="text-purple m-0">{{ (product$ | async)?.categories?.name }}</p>
                    </div>
                    <span class="spacer"></span>
                    <p class="m-0">
                        Precio: <strong>{{ (product$ | async)?.price | dollarPrice }}</strong>
                    </p>
                </div>

                <div class="pt-4">
                    <h3 class="mb-2">Descripcion</h3>
                    <p class="text-muted">{{ (product$ | async)?.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5 p-3">
            <div class="card border-0 bg-darken rounded-20">
                <div class="card-header border-0 bg-darken my-2 rounded-20">
                    <div class="d-flex align-items-center">
                        <i class='bx bx-cart'></i>
                        <p class="m-0 ms-3">Productos relacionados</p>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12" *ngFor="let product of products$ | async">
                            <app-product-sticker [product]="product"></app-product-sticker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>