<div class="card border-0 p-3 bg-{{ item.color }}-transparent">
    <div class="card-body text-center">
        <div class="card-avatar mb-2 p-3 bg-{{ item.color }}">
            <img src="{{ item.image }}" alt="Proyects" />
        </div>
        <h5>
            <strong>{{ item.title }}</strong>
        </h5>
        <p class="m-0 text-muted">{{ item.subtitle }}</p>
    </div>
    <div class="card-footer border-0">
        <button class="
            btn
            bg-white
            shadow
            d-inline-block
            rounded-pill
            text-center
            w-100"
        >Mas informacion...</button>
    </div>
</div>