<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-lg-7 col-xl-5 p-2">
            <div class="card border-0 bg-darken shadow" style="border-radius: 20px;">
                <div class="card-body p-4">
                    <form (ngSubmit)="create()" [formGroup]="form" class="text-white">
                        <div class="row">
                            <div class="col-12 py-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Nombre del producto</mat-label>
                                    <input
                                        placeholder="Ejem: Samsung Galaxy"
                                        formControlName="name"
                                        autocomplete="off"
                                        autofocus
                                        required
                                        matInput
                                    >
                                    <mat-hint>Escribe el nombre del producto.</mat-hint>
                                    <mat-error *ngIf="form.get('name')?.invalid">
                                        {{ getMsgError("name") }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 py-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>URL de la imagen</mat-label>
                                    <input
                                        placeholder="Ejem: https://galery.com/image.png"
                                        formControlName="picture"
                                        autocomplete="off"
                                        required
                                        matInput
                                    >
                                    <mat-hint>Ingrese la URL de la imagen del producto.</mat-hint>
                                    <mat-error *ngIf="form.get('picture')?.invalid">
                                        {{ getMsgError("picture", "url") }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 py-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Seleccione una categoria</mat-label>
                                    <mat-select formControlName="categoriesId">
                                        <mat-option
                                            *ngFor="let category of categories"
                                            [value]="category.id"
                                        >{{ category.name }}</mat-option>
                                    </mat-select>
                                    <mat-hint>Seleccione la categoria del producto.</mat-hint>
                                    <mat-error *ngIf="form.get('categoriesId')?.invalid">
                                        {{ getMsgError("categoriesId") }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 py-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Precio</mat-label>
                                    <input
                                        formControlName="price"
                                        autocomplete="off"
                                        type="number"
                                        required
                                        matInput
                                    >
                                    <mat-hint>Ingrese el precio del producto</mat-hint>
                                    <mat-error *ngIf="form.get('price')?.invalid">
                                        {{ getMsgError("price") }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 py-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Descripcion</mat-label>
                                    <textarea
                                        formControlName="description"
                                        matInput
                                        required
                                    ></textarea>
                                    <mat-hint>Agregue una descripcion del producto</mat-hint>
                                    <mat-error *ngIf="form.get('description')?.invalid">
                                        {{ getMsgError("description") }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-3">
                            <span class="spacer"></span>
                            <button
                                type="button"
                                routerLink="/products"
                                class="btn text-purple mx-2"
                            >Cancelar</button>
                            <button
                                type="submit"
                                [disabled]="!form.valid"
                                class="
                                    rounded-pill
                                    bg-purple
                                    border-0
                                    shadow
                                    py-2
                                    px-3
                                    mx-2
                                    btn
                                "
                            >Ingresar producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>